<h2>Incluir Nova Cidade</h2>

<form (ngSubmit)="submit()" [formGroup]="cidadeForm" #form="ngForm">
  <div class="mb-2">
    <label>Nome</label>
    <input type="text" class="form-control" formControlName="nome">
    <small class="text-danger" *ngIf="cidadeForm.get('nome')?.invalid && form.submitted">Campo Obrigatório</small>
  </div>
  <div>
    <label>UF</label>
    <select class="form-select" formControlName="uf">
      <ng-container *ngFor="let uf of ufs">
        <option [value]="uf.value">{{ uf.nome + ' - ' + uf.value  }}</option>
      </ng-container>
    </select>
    <small class="text-danger" *ngIf="cidadeForm.get('uf')?.invalid && form.submitted">Campo Obrigatório</small>
  </div>

  <div class="d-flex justify-content-end mt-2">
    <button type="reset" class="btn btn-danger btn-sm" [routerLink]="['/cidades/listar']">Cancelar</button>
    <button type="submit" class="btn btn-success btn-sm ms-2">Salvar</button>
  </div>
</form>
